<a href="https://colab.research.google.com/github/jamie07262/INFO-3608-PROJECT/blob/main/Clone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/jamie07262/INFO-3608-PROJECT

Cloning into 'INFO-3608-PROJECT'...
remote: Enumerating objects: 73, done.
remote: Counting objects: 100% (73/73), done.
remote: Compressing objects: 100% (65/65), done.
remote: Total 73 (delta 14), reused 49 (delta 4), pack-reused 0 (from 0)
Receiving objects: 100% (73/73), 12.57 MiB | 14.91 MiB/s, done.
Resolving deltas: 100% (14/14), done.

In [25]:
# accessing raw csv files from github repo
!wget https://github.com/jamie07262/INFO-3608-PROJECT/tree/main/data/raw
import pandas as pd

--2025-03-29 05:12:35--  https://github.com/jamie07262/INFO-3608-PROJECT/tree/main/data/raw
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘raw.2’

raw.2                   [ <=>                ] 289.06K  --.-KB/s    in 0.1s

2025-03-29 05:12:35 (2.86 MB/s) - ‘raw.2’ saved [295996]

In [26]:
#reading and concating men and women results and adding a new column to indicate the division
df_seeds = pd.concat(
    [
        pd.read_csv("MNCAATourneySeeds.csv").assign(Divison="M"),
        pd.read_csv("WNCAATourneySeeds.csv").assign(Divison="W"),
    ]
).reset_index(drop=True)

df_compact_season_results = pd.concat(
    [
        pd.read_csv("MRegularSeasonCompactResults.csv").assign(Divison="M"),
        pd.read_csv("WRegularSeasonCompactResults.csv").assign(Divison="W"),
    ]
).reset_index(drop=True)

df_compact_tourney_results = pd.concat(
    [
        pd.read_csv("MNCAATourneyCompactResults.csv").assign(Divison="M"),
        pd.read_csv("WNCAATourneyCompactResults.csv").assign(Divison="W"),
    ]
).reset_index(drop=True)



print(df_seeds)
print(df_compact_season_results)
print(df_compact_tourney_results)

      Season Seed  TeamID Divison
0       1985  W01    1207       M
1       1985  W02    1210       M
2       1985  W03    1228       M
3       1985  W04    1260       M
4       1985  W05    1374       M
...      ...  ...     ...     ...
4365    2025  Z12    3193       W
4366    2025  Z13    3251       W
4367    2025  Z14    3195       W
4368    2025  Z15    3117       W
4369    2025  Z16    3422       W

[4370 rows x 4 columns]
        Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT Divison
0         1985      20     1228      81     1328      64    N      0       M
1         1985      25     1106      77     1354      70    H      0       M
2         1985      25     1112      63     1223      56    H      0       M
3         1985      25     1165      70     1432      54    H      0       M
4         1985      25     1192      86     1447      74    H      0       M
...        ...     ...      ...     ...      ...     ...  ...    ...     ...
329953    2025     131     3471      75     3413      66    A      0       W
329954    2025     132     3192      66     3476      49    H      0       W
329955    2025     132     3250      74     3119      62    H      0       W
329956    2025     132     3293      83     3125      62    N      0       W
329957    2025     132     3456      66     3144      63    N      0       W

[329958 rows x 9 columns]
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT Divison
0       1985     136     1116      63     1234      54    N      0       M
1       1985     136     1120      59     1345      58    N      0       M
2       1985     136     1207      68     1250      43    N      0       M
3       1985     136     1229      58     1425      55    N      0       M
4       1985     136     1242      49     1325      38    N      0       M
...      ...     ...      ...     ...      ...     ...  ...    ...     ...
4163    2024     147     3163      80     3425      73    A      0       W
4164    2024     147     3234      94     3261      87    H      0       W
4165    2024     151     3234      71     3163      69    N      0       W
4166    2024     151     3376      78     3301      59    N      0       W
4167    2024     153     3376      87     3234      75    N      0       W

[4168 rows x 9 columns]

In [27]:
# checking if there are any missing values
print(df_seeds.isnull().sum())
print("\n")
print(df_compact_season_results.isnull().sum())
print("\n")
print(df_compact_tourney_results.isnull().sum())

Season     0
Seed       0
TeamID     0
Divison    0
dtype: int64


Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
Divison    0
dtype: int64


Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
Divison    0
dtype: int64

In [28]:
#checking if there are any duplicate
print(df_seeds.duplicated().sum())
print("\n")
print(df_compact_season_results.duplicated().sum())
print("\n")
print(df_compact_tourney_results.duplicated().sum())

0


0


0